# Build output
build/
cmake-build-*/

# Dependências baixadas em runtime
vendor/
_deps/

# Compilador
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.dylib

# IDEs
.vscode/
.idea/
*.xcodeproj/
*.user

# macOS
.DS_Store

# ClangD
.clangd


#vs
.vs
.vs/